.Nav {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Link {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.Link a {
    text-decoration: none;
    color: white;

}