.Skills {
    background-color: rgb(79, 79, 241);
    padding: 20px;
}

.Tech-skill {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.Skill-card {
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
    padding: 20px;
}

.Skill-card img {

    width: 70px;
}