body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(26, 143, 211);
    color: blanchedalmond;
}

.top-nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Search input {
    border-radius: 50px;
    padding: 10px;
    width: 350px;
}

.logo img {
    width: 150px;
}

.nav1 {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.nav1 a {
    text-decoration: none;
    color: white;

}

.nav2 {
    background-color: rgb(97, 88, 119);

}

.nav3 {
    display: flex;
    gap: 40px;
}

.nav3 a {
    text-decoration: none;
    color: rgb(248, 255, 255);
}

.main-img img {
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content img{
    height: 250px;
    justify-content: center;
    align-items: center;
}

